{% extends "base.html" %}

{% block heder %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/aplay_onlain.css">
{% comment %} <link rel="stylesheet" href="/static/css/aply_down.css.css"> {% endcomment %}

{% endblock heder %}
{% block mainbody %}

	<div id="page-container">

		<div id="et-main-area">

			<div id="main-content">



				<article id="post-6192" class="post-6192 page type-page status-publish hentry">


					<div class="entry-content">
						<div class="et-l et-l--post">
							<div class="et_builder_inner_content et_pb_gutters3">
								<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular">






									<div class="et_pb_row et_pb_row_0">
										<div
											class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">




											<div
												class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_center et_pb_bg_layout_light">




												<div class="et_pb_text_inner">
													<h1><span style="margin-left:-2rem; color:white;">Apply Online For Admission</span></h1>
												</div>
											</div>
										</div>




									</div>


								</div>
								<div class="et_pb_section et_pb_section_1 et_section_regular">






									<div class="et_pb_row et_pb_row_1">
										<div
											class="et_pb_column et_pb_column_1_3 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">




											<div
												class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">




												<div class="et_pb_text_inner">
													<h3>Get In Touch</h3>
												</div>
											</div>
											<div
												class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_dark">




												<div class="et_pb_blurb_content">
													<div class="et_pb_main_blurb_image"><span
															class="et_pb_image_wrap"><span
																class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon">&#57473;</span></span>
													</div>
													<div class="et_pb_blurb_container">
														<h4 class="et_pb_module_header"><span>Office Address</span></h4>
														<div class="et_pb_blurb_description">
															<h3><em>Future Education</em></h3>
															<p><em>G-5, Anupam Plaza, Opposite IIT,<br>Kalu Sarai, New
																	Delhi &ndash; 110016</em></p>
														</div>
													</div>
												</div>
											</div>
											<div
												class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_dark">




												<div class="et_pb_blurb_content">
													<div class="et_pb_main_blurb_image"><span
															class="et_pb_image_wrap"><span
																class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon">&#57462;</span></span>
													</div>
													<div class="et_pb_blurb_container">
														<h4 class="et_pb_module_header"><span>Email Address</span></h4>
														<div class="et_pb_blurb_description">
															<p><span>futureeducation@live.com</span></p>
														</div>
													</div>
												</div>
											</div>
											<div
												class="et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_dark">




												<div class="et_pb_blurb_content">
													<div class="et_pb_main_blurb_image"><span
															class="et_pb_image_wrap"><span
																class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon">&#57488;</span></span>
													</div>
													<div class="et_pb_blurb_container">
														<h4 class="et_pb_module_header"><span>Phone Number</span></h4>
														<div class="et_pb_blurb_description">
															<h5>Office:&nbsp; 011-47043484</h5>
															<h5>Mobile: +91-7303848310</h5>
															<h5>Mobile: +91-9952807892</h5>
															<p>&nbsp;</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div
											class="et_pb_column et_pb_column_2_3 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">




											<div class="et_pb_module et_pb_code et_pb_code_0">




												<div class="et_pb_code_inner">
													<div class="wpcf7 no-js" id="wpcf7-f6209-p6192-o1" lang="en-US"
														dir="ltr">
														<div class="screen-reader-response">
															<p role="status" aria-live="polite" aria-atomic="true"></p>
															<ul></ul>
														</div>
														<form method="post" class="wpcf7-form init" enctype="multipart/form-data"
															novalidate="novalidate" data-status="init">
															{% csrf_token %}

														
															<h1 class:sch>ONLINE APPLICATION FORM
															</h1>
															<p><span class="wpcf7-form-control-wrap">
																	<input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required frm" placeholder="Your Name *"  type="text" id="name"></span>
																<span class="text-danger" id="nm_err"></span>
															</p>
															<p><span class="wpcf7-form-control-wrap" data-name="your-phone"><input size="40"
																		class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required frm"
																		aria-required="true" aria-invalid="false"
																		placeholder="Phone No. *" value="" type="number"
																		id="phone"></span>
																<span class="text-danger" id="phone_err"></span>
															</p>
															<p><span class="wpcf7-form-control-wrap"
																	data-name="your-email"><input size="40"
																		class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email frm"
																		aria-required="true" aria-invalid="false"
																		placeholder="Email*" value="" type="email"
																		id="email"></span>
																<span class="text-danger" id="email_err"></span>
																
															</p>
															<p>
																<span class="wpcf7-form-control-wrap"
																	data-name="menu-227"><select
																		class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required frm"
																		aria-required="true" aria-invalid="false"
																		id="menu_corse">
																		<option value="Please Select Course">Please
																			Select Course</option>
																		<option value="Medical Course">Medical Course
																		</option>
																		<option value="MBBS in India">MBBS in India
																		</option>
																		<option value="MBBS Abroad">MBBS Abroad</option>
																		<option value="Engineering">Engineering</option>
																		<option value="Management">Management</option>
																		<option value="BAMS">BAMS</option>
																		<option value="BHMS">BHMS</option>
																		<option value="BUMS">BUMS</option>
																	</select></span>
															</p>
															<p><span class="wpcf7-form-control-wrap"
																	data-name="your-message"><textarea cols="40"
																		rows="10"
																		class="wpcf7-form-control wpcf7-textarea frm"
																		aria-invalid="false" placeholder="Message"
																		id="message"></textarea></span>
															</p>
															<p><span class="wpcf7-form-control-wrap"
																	data-name="file-242">
																	<input size="40" class="wpcf7-form-control wpcf7-file frm" accept=".jpg,.png,.peng,"
																		type="file" id="image"></span>
															</p>
															<p>
																<button	class="wpcf7-form-control has-spinner wpcf7-submit frd" 
																	type="button" onclick="apply_form_admition()">Submit</button>
															</p>
															
														</form>
													</div>
												</div>
											</div>
										</div>




									</div>


								</div>
								<div class="et_pb_section et_pb_section_2 et_section_regular">






									<div class="et_pb_row et_pb_row_2">
										<div
											class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">




											<div class="et_pb_module et_pb_divider_0 et_pb_space et_pb_divider_hidden">
												<div class="et_pb_divider_internal"></div>
											</div>
										</div>




									</div>
									<div class="et_pb_row et_pb_row_3">
										<div
											class="et_pb_column et_pb_column_4_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et-last-child">




											<div
												class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">




												<div class="et_pb_text_inner">
													<h2 style="text-align: center;">Our Partner Associates Locations
													</h2>
												</div>
											</div>
										</div>




									</div>
									<div class="et_pb_row et_pb_row_4">
										<div
											class="et_pb_column et_pb_column_1_3 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">




											<div
												class="et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">




												<div class="et_pb_blurb_content">
													<div class="et_pb_main_blurb_image"><span
															class="et_pb_image_wrap"><span
																class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon">&#57473;</span></span>
													</div>
													<div class="et_pb_blurb_container">
														<h4 class="et_pb_module_header"><span>Indore Office :</span>
														</h4>
														<div class="et_pb_blurb_description">
															<p>UG-24, Orbit Mall Near Malhar Mall A.B. Road, Indore
																452-001</p>
														</div>
													</div>
												</div>
											</div>
											<div
												class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">





											</div>
										</div>
										<div
											class="et_pb_column et_pb_column_1_3 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough">




											<div
												class="et_pb_module et_pb_blurb et_pb_blurb_4  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">




												<div class="et_pb_blurb_content">
													<div class="et_pb_main_blurb_image"><span
															class="et_pb_image_wrap"><span
																class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon">&#57473;</span></span>
													</div>
													<div class="et_pb_blurb_container">
														<h4 class="et_pb_module_header"><span>Delhi Office :</span></h4>
														<div class="et_pb_blurb_description">
															<p><em>G-5, Anupam Plaza, Opposite IIT,<br>Kalu Sarai, New
																	Delhi &ndash; 110016</em></p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div
											class="et_pb_column et_pb_column_1_3 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">




											<div
												class="et_pb_module et_pb_blurb et_pb_blurb_5  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">




												<div class="et_pb_blurb_content">
													<div class="et_pb_main_blurb_image"><span
															class="et_pb_image_wrap"><span
																class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon">&#57488;</span></span>
													</div>
													<div class="et_pb_blurb_container">
														<h4 class="et_pb_module_header"><span>Phone Number</span></h4>
														<div class="et_pb_blurb_description">
															<p>Contact : +91 7314993135</p>
														</div>
													</div>
												</div>
											</div>
											<div
												class="et_pb_module et_pb_blurb et_pb_blurb_6  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">




												<div class="et_pb_blurb_content">
													<div class="et_pb_main_blurb_image"><span
															class="et_pb_image_wrap"><span
																class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon">&#57462;</span></span>
													</div>
													<div class="et_pb_blurb_container">
														<h4 class="et_pb_module_header"><span>Email Address</span></h4>
														<div class="et_pb_blurb_description">
															<p><span>info@futeducation.com</span></p>
														</div>
													</div>
												</div>
											</div>
										</div>




									</div>


								</div>
							</div>
						</div>
					</div>


				</article>



			</div>


	


		</div>


	</div>




    {% endblock mainbody %}
